<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <StructureMap>
    <dataCacheClient>
      <hosts>
        <host name="ROCJ-EDMS-DEV01" cachePort="22233" />
      </hosts>
      <localCache isEnabled="false" sync="NotificationBased" objectCount="100000" ttlValue="300" />
      <securityProperties mode="None" protectionLevel="None" />
      <clientNotification pollInterval="300" />
    </dataCacheClient>
  </StructureMap>
</configuration>